<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-right">
            <p>&copy; @DateTime.Now.Year - Claim Form Application</p>
        </div>
    </div>
</footer>
